body{
    text-align: center;
    line-height: 1.4;
    background-color: #00000000;
}
title{
    color: #00000000;
    top: 0;
    -webkit-animation: dc 1s;
    animation: dc 1s;
}
.placeholder{
    cursor: default;
}
*{
    outline: none;
}
@-webkit-keyframes dc{
    100% {color:#000000;}
    100% {top:10;}
}
@keyframes dc{
    100% {color:#000000;}
    100% {top:10;}
}